* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #393e46;
  color: #4ecca3;
  font-family: "Lobster", cursive;
}

img {
  display: block;
  max-width: 100%;

  object-fit: contain;
}

.wrapper {
  max-width: 75%;
  text-align: center;
}
.wrapper--narrow h1 {
  font-size: 8rem;
}

.layout-flex {
  padding: 5rem;
  display: flex;
  gap: 2.5rem;
}
.layout-flex > div {
  flex: 1;
}

.layout-flex h3 {
  font-family: "Indie Flower", cursive;
  font-size: 2.5rem;
}
.layout-flex img {
  margin-top: 2rem;
}

button {
  border: 0;
  outline: 0;

  border-radius: 1rem;

  background-color: #9c060c;
  color: #fff;

  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 1rem 2rem;
}
button:hover {
  background-color: #9c060caa;
}
